# Python Environment & Cache
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.bak
*.tmp



# IDE & OS Specific
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Releases
releases/

test/w64devkit/

init_project
